<!doctype html>
<html>

<head>
  <title>Login</title>
</head>

<body>
  
  <a href="http://localhost:3000/cars">See All Cars</a>
  <a href="http://localhost:3000/create">Add new Car</a>
  <a href="http://localhost:3000/cars">See Cars</a>
</body>

</html>